body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-container {
   display: flex;
   justify-content: left;
   align-items: center;
}

/*.header {*/
/*  background-color: #833471; !* Replace with your preferred color code *!*/
/*  color: #fff; !* This sets the text color to white *!*/
/*  padding: 10px;*/
/*  text-align: center;*/
/*}*/
